@import "tailwindcss";

html,
body {
  overflow-x: hidden !important;
  max-width: 100vw !important;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617;
}

#root {
  overflow-x: hidden !important;
  max-width: 100vw !important;
  width: 100%;
  min-height: 100vh;
}
